<div class="defense-wrapper">
  <div>
    <h6>Tackles</h6>
    <p>{{ defense.tackles }}</p>
  </div>
  <div>
    <h6>Tackles Success</h6>
    <p>{{ defense.tacklesSuccess }}</p>
  </div>
  <div>
    <h6>Blocked Shots</h6>
    <p>{{ defense.blockedShots }}</p>
  </div>

  <div>
    <h6>Interceptions</h6>
    <p>{{ defense.interceptions }}</p>
  </div>
  <div>
    <h6>Clearances</h6>
    <p>{{ defense.clearances }}</p>
  </div>
  <div>
    <h6>Headed Clearance</h6>
    <p>{{ defense.headedClearance }}</p>
  </div>

  <div>
    <h6>Recoveries</h6>
    <p>{{ defense.recoveries }}</p>
  </div>
  <div>
    <h6>Duels Won</h6>
    <p>{{ defense.duelsWon }}</p>
  </div>
  <div>
    <h6>Duels Lost</h6>
    <p>{{ defense.duelsLost }}</p>
  </div>

  <div>
    <h6>Successful</h6>
    <p>{{ defense.successful }}</p>
  </div>
  <div>
    <h6>Errors Leading To Goal</h6>
    <p>{{ defense.errorsLeadingToGoal }}</p>
  </div>
  <div>
    <h6>aerialBattlesWon</h6>
    <p>{{ defense.aerialBattlesWon }}</p>
  </div>

  <div>
    <h6>Aerial Battles Lost</h6>
    <p>{{ defense.aerialBattlesLost }}</p>
  </div>
  <div>

  </div>
  <div>

  </div>
</div>
