<div class="team-play-wrapper">
  <div>
    <h6>Assists</h6>
    <p>{{ playerTeamPlay.assists }}</p>
  </div>
  <div>
    <h6>Passes</h6>
    <p>{{ playerTeamPlay.passes }}</p>
  </div>
  <div>
    <h6>Passes Per Match</h6>
    <p>{{ playerTeamPlay.passesPerMatch }}</p>
  </div>

  <div>
    <h6>Big Chances Created</h6>
    <p>{{ playerTeamPlay.bigChancesCreated }}</p>
  </div>
  <div>
    <h6>Accuracy</h6>
    <p>{{ playerTeamPlay.accuracy }}</p>
  </div>
  <div>
    <h6>Through Balls</h6>
    <p>{{ playerTeamPlay.throughBalls }}</p>
  </div>

  <div>
    <h6>Crosses</h6>
    <p>{{ playerTeamPlay.bigChancesCreated }}</p>
  </div>
  <div>
    <h6>Accurate Long Balls</h6>
    <p>{{ playerTeamPlay.accurateLongBalls }}</p>
  </div>
  <div>
  </div>
</div>
