<div class="title">
  <h3>Personal</h3>
  <h3>Information</h3>
  <hr/>
</div>
<div class="image">
  <img [src]="personalDetails.imagePath" alt="{{ personalDetails.firstName }}" class="img-responsive" style="max-height: 100px;">
</div>
<div class="personal-details-wrapper">
  <div class="details-row">
    <span class="details-name">Full Name</span>
    <span class="details">{{ personalDetails.name }} &nbsp; {{ personalDetails.lastName }}</span>
  </div>
  <div class="details-row">
    <span class="details-name">Date Of Birth</span>
    <span class="details">{{ personalDetails.dateOfBirth | date}}</span>
  </div>
  <div class="details-row">
    <span class="details-name">Nationality</span>
    <span class="details">{{ personalDetails.nationality }}</span>
  </div>
</div>
