<div class="social-info-wrapper" *ngIf="socialInfo">
  <div>
    <a target="_blank" rel="noopener noreferrer" href="{{ socialInfo.facebook }}">
      <img src="assets/images/iconmonstr-facebook-4-32.png" alt="No picture" class="img-responsive" style="max-height: 50px;">
    </a>
  </div>
  <div>
    <a target="_blank" rel="noopener noreferrer" href="{{ socialInfo.twitter }}">
      <img src="assets/images/iconmonstr-twitter-4-32.png" alt="No picture" class="img-responsive" style="max-height: 50px;">
    </a>
  </div>
  <div>
    <a target="_blank" rel="noopener noreferrer" href="{{ socialInfo.instagram }}">
      <img src="assets/images/iconmonstr-instagram-9-32.png" alt="No picture" class="img-responsive" style="max-height: 50px;">
    </a>
  </div>
</div>
