<div class="attack-wrapper">
  <div>
    <h6>Goals</h6>
    <p>{{ attack.goals }}</p>
  </div>
  <div>
    <h6>Goals Per Match</h6>
    <p>{{ attack.goalsPerMatch }}</p>
  </div>
  <div>
    <h6>Headed Goals</h6>
    <p>{{ attack.headedGoals }}</p>
  </div>

  <div>
    <h6>Goals With Right Foot</h6>
    <p>{{ attack.goalsWithRightFoot }}</p>
  </div>
  <div>
    <h6>Goals With Left Foot</h6>
    <p>{{ attack.goalsWithLeftFoot }}</p>
  </div>
  <div>
    <h6>Penalties Scored</h6>
    <p>{{ attack.penaltiesScored }}</p>
  </div>

  <div>
    <h6>Freekicks Scored</h6>
    <p>{{ attack.freekicksScored }}</p>
  </div>
  <div>
    <h6>Shots</h6>
    <p>{{ attack.shots }}</p>
  </div>
  <div>
    <h6>Shots On Target</h6>
    <p>{{ attack.shotsOnTarget }}</p>
  </div>

  <div>
    <h6>Accuracy</h6>
    <p>{{ attack.accuracy }}</p>
  </div>
  <div>
    <h6>Hit Woodwork</h6>
    <p>{{ attack.hitWoodwork }}</p>
  </div>
  <div>
    <h6>Big Chances Missed</h6>
    <p>{{ attack.bigChancesMissed }}</p>
  </div>
</div>
