<div class="header-navigation">
  <h1 class="logo" (click)="onHomeClick()" style="cursor: pointer;">Assistant</h1>
  <input type="checkbox" class="nav-toggle" id="nav-toggle">
  <nav>
    <ul>
      <li>
        <a routerLink="/select">Compare</a>
      </li>
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="auth-navigation">
          <a routerLink="/register">Register</a>
        </li>
        <li class="auth-navigation">
          <a routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li class="auth-navigation">
        <a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a>
      </li>
    </ul>
  </nav>
    
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</div>
