<div class="duel">
  <div class="title">
    <img src="{{homeImagePath}}" alt="Arsenal" width="30px" height="30px">
    <p>{{homeName}}</p>
    <p>{{awayName}}</p>
    <img src="{{awayImagePath}}" alt="Arsenal" width="30px" height="30px">
  </div>
  <p>Played: {{duelStats.played}}</p>
  <div class="duel-wrapper">
    <div class="stats">
      <p>{{duelStats.homeWins}}</p>
      <p>{{duelStats.homeGoals}}</p>
      <p>{{duelStats.homePenaltiesWon}}</p>
      <p>{{duelStats.homePenaltiesScored}}</p>
      <p>{{duelStats.homeCleanSheets}}</p>
      <p>{{duelStats.homeYellowCards}}</p>
      <p>{{duelStats.homeRedCards}}</p>
    </div>
    <div class="statNames">
      <p>Drawn: {{duelStats.drawn}}</p>
      <p>Goals</p>
      <p>Penalties Won</p>
      <p>Penalties Scored</p>
      <p>Clean Sheets</p>
      <p>Yellow Cards</p>
      <p>Red Cards</p>
    </div>
    <div class="stats">
      <p>{{duelStats.awayWins}}</p>
      <p>{{duelStats.awayGoals}}</p>
      <p>{{duelStats.awayPenaltiesWon}}</p>
      <p>{{duelStats.awayPenaltiesScored}}</p>
      <p>{{duelStats.awayCleanSheets}}</p>
      <p>{{duelStats.awayYellowCards}}</p>
      <p>{{duelStats.awayRedCards}}</p>
    </div>
  </div>
</div>
